.deep-encapsulation {
  @import "./elements";
  @import "./file-uploader";
}

.alert-title {
  font-family: "Open Sans" ,"Calibri","Tahoma","sans-serif";
  font-size: 14px;
  font-weight: normal;
  top: -12px;
  position: relative;
}
