$error: #db0020;
$neutral: #c7c7c7;
$neutral-three: #6A7070;
$success: #19a6a4;


.pe-alert {
  visibility: hidden;
  opacity: 0;
  color: #252525;
  z-index: 2000;
}

@media (max-width: 480px) {
  .pe-alert {
    max-width: 440px;
    padding: 4px;
  }
}

.pe-alert.alert--success,
.pe-alert.alert--info {
  border-left-color: $success;
}

.pe-alert.alert--error .pe-alert-box {
  border-left-color: $error;
}

.pe-alert.alert--error .pe-alert-box a {
  color: $error;
}

.pe-alert.alert-inline {
  position: absolute;
}

.pe-alert.alert-global {
  position: fixed;
  top: 32px;
  left: 0;
  margin: 0 32px;
}

@media (max-width: 768px) {
  .pe-alert.alert-global {
    top: 36px;
    margin: 0 24px;
  }
}

.pe-alert-box {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.16);
  padding: 8px;
  border: 1px solid #c7c7c7;
  border-left: 3px solid;
  margin-bottom: 1em;
  max-width: 580px;
  transition: all 0.2s ease;
  z-index: 10;
  background: white;
  border-left-color: $success;

}

.pe-alert-box .close-title {
  float: right;
  color: $neutral-three;
  cursor: pointer;
}

.pe-alert-box .alert-content-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px 4px 20px 20px;
}

.pe-alert-box .alert-title {
  margin-right: 4px;
  display: inline;

}

.pe-alert-box .alert-text {
  display: inline;
}

.pe-alert button.pe-icon {
  background-color: transparent;
  border: 0;
  padding: 0;
  position: relative;
  overflow: visible;
}

.pe-alert button.pe-icon:focus {
  outline: 0;
}

.pe-alert button.pe-icon::-moz-focus-inner {
  border: 0;
}

.pe-alert button.pe-icon:focus::after {
  display: block;
  border: 2px solid #0b73da;
  border-radius: 4px;
  content: "";
  height: calc(100% + 8px);
  left: -6px;
  position: absolute;
  top: -6px;
  width: calc(100% + 8px);
  z-index: 1;
}

.pe-alert img.pe-icon:not([src='']) {
  margin-right: 12px;
  width: 18px;
  height: 18px;
}

.pe-alert svg {
  width: 24px;
  height: 24px;
}
