$pe-color-ink-blue: #005A70;

.hidden {
  display:none !important;
}
:host {
  display:flex;
  flex: 0 0 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: inherit;
  padding:0 1em;
  padding-bottom: 24px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size:14px;
  background: #fff;
  @media(max-width:979px) {
    flex-direction: column;
  }
}

:host(.dark) {
  background: $pe-color-ink-blue;
  li {
    border-right:1px solid white
  }
  a {
    color:white;
    border-color: white;
  }
  .copyright {
    color:white;
  }
}
.links {
  margin:0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-flow: wrap;
  text-align: center;
  justify-content: center;
  li {
    margin-right:1em;
    padding-right:1em;
    border-right:1px solid black;
    @media(max-width:979px) {
      margin-bottom:12px;
    }
    &:last-child {
      @media(max-width:979px) {
       border:0;
      }
    }
  }
}
.copyright {
  margin: 0;
  font-size: 14px;
  @media(max-width:979px) {
   text-align: center;
  }
}
