// only import the modules you need
@import '../node_modules/@pearson-components/elements-sdk/src/styles/base/mixins';
@import '../node_modules/@pearson-components/elements-sdk/src/styles/base/functions';
@import '../node_modules/@pearson-components/elements-sdk/src/styles/base/variables';
@import '../node_modules/@pearson-components/elements-sdk/src/styles/elements/color/color';
// base HTML tags
@import '../node_modules/@pearson-components/elements-sdk/src/styles/elements/typography/font-face';
