@import "./elements";

.pe-footer {
    padding: 24px 0;
    text-align: center;
  }
  
  .pe-footer ul,
  .pe-footer li,
  .pe-footer p {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  
  .pe-footer span {
      margin: 0 4px;
  }
  .pe-footer li {
      &:after {
        content: "|";
        margin: 5px;
      }
    
      @media (max-width: 767px) {
        &:last-child:after {
          content: "";
          margin: 0;
        }
      }
  }
  
  @media (max-width: 767px) {
    .pe-footer ul {
      margin-bottom: 12px;
    }
  
    .pe-footer li:last-child span {
      display: none;
    }
  
    .pe-footer p {
      display: block;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
    }
  }
