@import "./elements";

.pe-footer {
    padding: 24px 0;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color:#252525;
    font-family:Open Sans,Calibri,Tahoma,sans-serif;
    a {
      color: $pe-color-digital-pearson-blue; 
      &:hover {
        color: $pe-color-ink-blue;
      }
    }
  }
  
  .pe-footer ul,
  .pe-footer li,
  .pe-footer p {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  
  .pe-footer span {
      margin: 0 4px;
  }
  .pe-footer li {
      &:after {
        content: "|";
        margin: 5px;
      }
    
      @media (max-width: 767px) {
        &:last-child:after {
          content: "";
          margin: 0;
        }
      }
  }
  
  @media (max-width: 767px) {
    .pe-footer ul {
      margin-bottom: 12px;
    }
  
    .pe-footer li:last-child span {
      display: none;
    }
  
    .pe-footer p {
      display: block;
      font-size: 0.75rem;
      line-height: 1rem;
      text-align: center;
    }
  }
