/* line 10, ./scss/style.scss */
* {
  box-sizing: border-box;
}
.hidden,
[hidden] {
  display: none !important;
}

/* line 13, ./scss/style.scss */
.hide-overflow {
  overflow: hidden;
}

/* line 16, ./scss/style.scss */
.modal-scroll {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}


/* line 25, ./scss/style.scss */
#modalOverlay {
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-in;
  opacity: 0.6;
}

/* line 53, ./scss/style.scss */
[role='dialog'] {
  border: thin #000 solid;
  background-color: #fff;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 63, ./scss/style.scss */
.scroll-frame {
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height: 400px;
  width: 100%;
}

.header-actions {
  display:flex;
  position: absolute;
  padding: 20px;
  top: 0;
  right: 0;
  button {
    top: 0 !important;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 44px;
    text-align:center;
    img {
      width: 24px;
      height: 24px;
      margin: 0;
    }
  }
}

/* line 86, ./scss/style.scss */
.pe-modal-container {
  min-width: 474px;
  max-width: 100%;
  outline: none;
  background-color: #fff;
  border-radius: 2px;
  width: auto;
}

.pe-modal-container__minimized {
  display:flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 507px;
  height: 60px;
  padding: 20px 17px 22px 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #c7c7c7;
  border-bottom: 0;
  border-radius: 0;
  background-color: #ffffff;


  }
@media (min-width: 1px) and (max-width: 639px) {
  .pe-modal-container.pe-modal-container__minimized {
    width: 100%;
  }
}

.header-actions__minimized {
  display: flex;
  position: absolute;
  right: 5px;
  top: calc(50% - 12px);

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0 !important;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 44px;
    height:24px;
    vertical-align: middle;
    img {
      width: 18px;
      height: 18px;
      margin: 0;
    }
  }
}


.upload-summary {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #252525;
  display: inline-block;
  padding: 0;
  margin: 0;
  max-width: calc(100% - 30px);
}
@media (min-width: 481px) and (max-width: 767px) {
  /* line 86, ./scss/style.scss */
  .pe-modal-container {
    width: 440px;
  }
}
p {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.57143rem;
  margin-bottom: 0.85714rem;
  margin-top: 0;
  color: #252525;
}
/* line 97, ./scss/style.scss */
h2 {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: normal;
  display: inline-block;
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
}
/* line 106, ./scss/style.scss */
.pe-modal-container h2:focus {
  outline: 1px solid #da0474;
  outline-offset: 2px;
}
@media (min-width: 1px) and (max-width: 480px) {
  /* line 97, ./scss/style.scss */
  .pe-modal-container h2 {
    font-size: 20px;

    &.upload-summary {
      font-size:16px;
    }
  }
}
/* line 116, ./scss/style.scss */
.pe-modal-container .modal-body {
  margin-bottom: 28px;
  padding: 0 40px;
}
/* line 121, ./scss/style.scss */
.pe-modal-container .actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}
@media (min-width: 481px) and (max-width: 767px) {
  /* line 121, ./scss/style.scss */
  .pe-modal-container .actions {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (min-width: 1px) and (max-width: 480px) {
  /* line 121, ./scss/style.scss */
  .pe-modal-container .actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
/* line 137, ./scss/style.scss */
.pe-modal-container .actions button:first-child {
  order: 1;
  margin-left: 1em;
  &:disabled {
    &:hover {
        cursor: default !important;
        border: #e9e9e9 !important;
        color: #c7c7c7 !important;
        background-color: #e9e9e9 !important;
        box-shadow: none !important;
        text-decoration: none !important;
    }
  }
}
@media (min-width: 1px) and (max-width: 480px) {
  /* line 137, ./scss/style.scss */
  .pe-modal-container .actions button:first-child {
    margin: 0.5em 0;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  /* line 136, ./scss/style.scss */
  .pe-modal-container .actions button {
    width: 100%;
  }
}
/* line 148, ./scss/style.scss */
.pe-modal-container .actions button#modalOverlay:focus {
  outline: 1px solid #da0474;
  outline-offset: 2px;
}

.pe-btn--btn_large::-moz-focus-inner,
.pe-btn::-moz-focus-inner {
  border: 0;
}

.style-scope {
  text-align: left;
}
button.style-scope {
  text-align:center; //Firefox
}

.modal-minimize img{
  height:18px !important;
}

.pe-icon--btn::-moz-focus-inner {
  border: 0;
}

.pe-icon--btn:focus:after {
  top:-4px !important;
  left:-4px !important;
}


