$pe-color-digital-ice-blue: #DAF0ED;
$pe-color-digital-marine-turquoise: #19A6A4;
$pe-color-concrete: #C7C7C7;
$pe-focus-color: #0B73DA;

.loading-bar-liveregion {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.pe-progress-bar {
  position:relative;
  padding-bottom:16px;
  .fullbar {
    width:100%;
    text-align:center;
    margin:0;
    line-height:18px;
    font-size:14px;
    font-family: 'Open Sans', Calibri, Tahoma, sans-serif;

    &:after {
      content: '';
      height: 4px;
      width:100%;
      position:absolute;
      bottom: 4px;
      left: 0;
      background-color: $pe-color-concrete;
    }
  }

  &.left-aligned {
    .fullbar {
      text-align:left;
    }
  }
  &.right-aligned {
    .fullbar {
      text-align:right;
    }
  }
  div[role=progressbar] {
    height: 12px;
    width: 0px;
    position:absolute;
    left:0;
    bottom:0;
    background-color: $pe-color-digital-marine-turquoise;
    animation: shift 0.25s linear infinite;
  }

  &.loading {
    div[role=progressbar] {
      background-image: linear-gradient(135deg, $pe-color-digital-marine-turquoise 33.33%, $pe-color-digital-ice-blue 33.33%, $pe-color-digital-ice-blue 50%, $pe-color-digital-marine-turquoise 50%, $pe-color-digital-marine-turquoise 83.33%, $pe-color-digital-ice-blue 83.33%, $pe-color-digital-ice-blue 100%);
      background-size: 18px 18px;
    }
  }

}
@keyframes shift {
  to {
    background-position: 9px 9px;
  }
}
@media screen and (prefers-reduced-motion: reduce) {
  .pe-progress-bar div[role=progressbar] {
    animation: unset !important;
    transition: unset !important;
  }
}

