pearson-modal {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
/* line 10, ./scss/style.scss */
.hidden, [hidden] {
  display: none !important;
}

/* line 13, ./scss/style.scss */
.hide-overflow {
  overflow: hidden;
}

/* line 16, ./scss/style.scss */
.modal-scroll {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}



/* line 25, ./scss/style.scss */
#modalOverlay {
  width: 100%;
  height: 100%;
  z-index: 11000;
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  transition: all .5s ease-in;
  opacity:.6;
}

/* line 53, ./scss/style.scss */
[role=dialog] {
  border: thin #000 solid;
  background-color: #fff;
  z-index: 12000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

/* line 63, ./scss/style.scss */
.scroll-frame {
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height: 400px;
  width: 100%;
}

/* line 71, ./scss/style.scss */
button.close[aria-label="Close Dialog"] {
  position: absolute;
  background: none;
  border: 0;
  top:10px;
  right: 5px;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:0;
  width:44px;
  img {
    width:24px;
    height:24px;
    margin:0;
  }

}

/* line 86, ./scss/style.scss */
.pe-modal-container {
  min-width: 600px;
  max-width: 100%;
  outline: none;
  background-color: #fff;
  border-radius: 2px;
  @media(max-width:640px) {
    min-width:320px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  /* line 86, ./scss/style.scss */
  .pe-modal-container {
    width: 440px;
  }
}
p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.57143rem;
  margin-bottom: .85714rem;
  margin-top: 0;
  color: #252525;
}
/* line 97, ./scss/style.scss */
h2 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight:normal;
  display: inline-block;
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
}
/* line 106, ./scss/style.scss */
.pe-modal-container h2:focus {
  outline: 1px solid #DA0474;
  outline-offset: 2px;
}
@media (min-width: 1px) and (max-width: 480px) {
  /* line 97, ./scss/style.scss */
  .pe-modal-container h2 {
    font-size: 20px;
  }
}
/* line 116, ./scss/style.scss */
.pe-modal-container .modal-body {
  margin-bottom: 28px;
  padding: 0 40px;
}
/* line 121, ./scss/style.scss */
.pe-modal-container .actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}
@media (min-width: 481px) and (max-width: 767px) {
  /* line 121, ./scss/style.scss */
  .pe-modal-container .actions {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (min-width: 1px) and (max-width: 480px) {
  /* line 121, ./scss/style.scss */
  .pe-modal-container .actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
/* line 137, ./scss/style.scss */
.pe-modal-container .actions button:first-child {
  order: 1;
  margin-left: 1em;
}
@media (min-width: 1px) and (max-width: 480px) {
  /* line 137, ./scss/style.scss */
  .pe-modal-container .actions button:first-child {
    margin: .5em 0;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  /* line 136, ./scss/style.scss */
  .pe-modal-container .actions button {
    width: 100%;
  }
}
/* line 148, ./scss/style.scss */
.pe-modal-container .actions button#modalOverlay:focus {
  outline: 1px solid #DA0474;
  outline-offset: 2px;
}

.pe-btn--btn_large::-moz-focus-inner, .pe-btn::-moz-focus-inner {
  border: 0;
}

.style-scope {
  text-align: left;
}
