
:host {
  box-sizing:border-box
}
*,:after,:before{
  box-sizing:inherit
}
.hidden{
  display:none
}
.hide-overflow{
  overflow:hidden
}
.modal-scroll{
  height:100%;
  overflow:scroll;
  -webkit-overflow-scrolling:touch
}
.sticky{
  display:flex;
  flex-direction:column
}
#modalOverlay{
  width:100%;
  height:100%;
  z-index:2;
  background-color:#222;
  opacity:.6;
  position:fixed;
  top:0;
  left:0;
  margin:0;
  padding:0
}
.pe-modal-container[data-sticky=true] h2{
  border-bottom:1px solid #c7c7c7;
  display:block;
  padding-bottom:20px;
  margin-bottom:0
}
.pe-modal-container[data-sticky=true] .modal-body{
  margin:0;
  padding-top:20px
}
.pe-modal-container[data-sticky=true] .actions{
  border-top:1px solid #c7c7c7;
  padding-top:20px
}
[role=dialog]{
  border:thin solid #000;
  background-color:#fff;
  z-index:3;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%)
}
.scroll-frame{
  overflow:auto;
  overflow-x:hidden;
  -webkit-overflow-scrolling:touch;
  height:400px;
  width:100%
}
button.close[aria-label="Close Dialog"]{
  position:absolute;
  top:2px;
  right:2px;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close img {
  height:24px;
  width:24px;
}

.pe-modal-container{
  width:600px;
  max-width:100%;
  outline:none;
  background-color:#fff;
  border-radius:2px;
  font-family: 'Open Sans', Calibri, Tahoma, sans-serif;
  height:auto;
  &.scroll {
    height: calc(100% - 100px)
  }
}
@media (max-width:767px){
  .modal{
    width:440px
  }
}
.pe-modal-container h2{
  line-height: 1.85714rem;
  font-weight: 400;
  color: #252525;
  margin: 0 0 20px;
  font-size: 20px;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
}
.pe-modal-container h2:focus{
  outline:1px solid #da0474;
  outline-offset:2px
}
@media (max-width:480px){
  .pe-modal-container h2{
    font-size:20px
  }
}
.pe-modal-container .modal-body{
  margin-bottom:28px;
  padding:0 40px;
  font-size:14px;
  line-height:1.5;
  overflow: scroll;
  height: calc(100% - 200px);

}
.pe-modal-container .actions{
  display:flex;
  align-items:center;
  justify-content:flex-end;
  padding-left:40px;
  padding-right:40px;
  padding-bottom:40px
}



@media (max-width:767px){
  .pe-modal-container .actions{
    justify-content:space-between
  }
}
@media (max-width:480px){
  .pe-modal-container .actions{
    flex-direction:column
  }
}
.pe-modal-container .actions button:last-child{
  order:-1;
  margin-right:1em
}
@media (max-width:480px){
  .pe-modal-container .actions button:last-child{
    margin:.5em 0
  }
}
@media (max-width:767px){
  .pe-modal-container .actions button{
    width:100%
  }
}
//.pe-modal-container .actions button#modalOverlay:focus{
//  outline:1px solid #da0474;
//  outline-offset:2px
//}
.modal-container{
  position:absolute;
  width:100%;
  top:0;
  height:100%
}
.modal-container .modal{
  transform:none;
  position:relative;
  margin:0 auto;
  top:0;
  left:0
}
