.drawer {
  visibility: hidden;
  position:fixed;
  top:0;
  bottom: 0;
  right:-320px;
  width:320px;
  border:1px solid #d9d9d9;
  box-shadow: 0px 0px 5px 0px rgba(199,199,199,1);
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
}

.drawer.open {
  visibility: visible;
  right: 0;
}

.panel {
  display: none;
}

.panel.active {
  display: flex;
  flex-direction: column;
}


.drawer-header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:25px 15px 20px 30px;

  &:focus {
    outline: none;
  }

  .pe-title {
    margin-bottom:0;
  }
}

.divider {
  margin:0 20px;
  border-bottom:1px solid #d9d9d9;
  height:1px;
}

.drawer-content {
  padding:25px 30px 30px 30px;
  position:relative;
  height:100%;
  &:focus {
    outline: none;
  }
  
  button {
    color: inherit;
    cursor:pointer;
    text-align: left;
    background:none;
    padding: 0;
    border:0;
    position:relative;
    &.pe-link--btn {
      text-decoration: none;
    }
  }


  dd {
    margin-left: 0;
    margin-bottom:25px;
  }
}

.panel button > * {
  pointer-events: none;
}

.panel button.back {
  border:0;
  cursor:pointer;
  background:none;
  height:25px;
  width:44px;
  display:flex;
  align-items: center;
  width:auto;
}

  .panel button.back svg {
    margin-right: 0.5em;
  }

  .panel button.back h3 {
    margin:0;
  }


.panel button.close {
  position: absolute;
  top: 15px;
  right: 15px;
  border: 0;
  cursor: pointer;
  background: none;
  height: 44px;
  width: 44px;
}