
.panel {
  display:flex;
  flex-direction: column;
  width:320px;
  height:100vh;
  border:1px solid #d9d9d9;
  box-shadow: 0px 0px 5px 0px rgba(199,199,199,1);
  position:fixed;
  top:0;

  &[data-panel] {
    right:-320px
  }
}

.drawer-header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:25px 15px 20px 30px;

  .pe-title {
    margin-bottom:0;
  }

  button {
    border:0;
    cursor:pointer;
    background:none;
    height:44px;
    width:44px;

    &.back {
      display:flex;
      align-items: center;
      width:auto;
      svg {
        margin-right:.5em;
      }
      h3 {
        margin:0;
      }
    }
  }
}

.divider {
  margin:0 20px;
  border-bottom:1px solid #d9d9d9;
  height:1px;
}

.drawer-content {
  padding:25px 30px 30px 30px;
  position:relative;
  height:100%;
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;

  ul {
    margin:0;
    padding:0;
  }
  li {
    list-style-type: none;
    margin-bottom:25px;

    button {
      cursor:pointer;
      text-align: left;
      background:none;
      border:0;
      p:first-child {

      }
    }
  }

}
