@import "../node_modules/@pearson-components/elements-sdk/src/styles/base/normalize";
@import "../node_modules/@pearson-components/elements-sdk/src/styles/base/variables";
@import "../node_modules/@pearson-components/elements-sdk/src/styles/base/mixins";
@import "../node_modules/@pearson-components/elements-sdk/src/styles/base/functions";
@import "../node_modules/@pearson-components/elements-sdk/src/styles/base/html-tags";

@import "../node_modules/@pearson-components/elements-sdk/src/styles/elements/typography/type";
@import "../node_modules/@pearson-components/elements-sdk/src/styles/elements/icons/icons";
@import "../node_modules/@pearson-components/elements-sdk/src/styles/elements/buttons/buttons";

@import "./drawer";
@import "./animation";

