$secondary-four: $pe-color-digital-marine-turquoise;
$neutral: $pe-color-concrete;
$neutral-two: $pe-color-charcoal;
$neutral-three: $pe-color-medium-gray;
$neutral-four: $pe-color-alto;
$primary-two: $pe-color-ink-blue;

.pe-tabbed-navigation {
  position:relative;
  height:41px;

  &.light {
    background:$pe-color-white-gray;
    border-bottom:1px solid #e9e9e9;
  }
  &.dark {
    background: #005a70;
    border-bottom:1px solid #005a70;
  }
  .tab-action {
    background:none;
    border:0;
    border-bottom: 3px solid transparent;
  }

  ul.tab-list {
    padding: 0;
    margin: 0;

    > li {
      list-style-type: none;
      display: inline-block;
    }
  }

  li.tab-item {
    &.active {
      .tab-action {
        border-bottom: 3px solid transparent;
        color: $neutral-two;
      }
    }

    &:hover:not(.active), &:hover:not(li) {
      .tab-action {
        border-bottom: 3px solid $neutral;
        color: $neutral-two;
      }
    }
  }

  .tab-action {
    padding: .5em 0;
    margin: .5em 1em;
    text-decoration: none;
    cursor: pointer;
    display: block;
    color:$neutral-three;
  }

  div {
    padding: .5em 0;
    margin: .5em 1em;

    button {
      color: $neutral-three;
    }
  }

  &.dark {
    background-color: $primary-two;

   .tab-action {
      color: $neutral-four;
    }

    li.tab-item {
      &.active {
        .tab-action {
          color: white;
        }
      }

      &:hover:not(.active) {
        .tab-action {
          border-bottom: 3px solid $neutral-four;
          color: white;
        }
      }
    }

    div {
      button {
        color: $neutral-four;
      }
    }
  }
  .tab-slider {
    height:3px;
    background-color: $secondary-four;
    position:absolute;
    padding:0;
    margin: .5em 1em;
    bottom:-8px;
    transition: all .5s ease-in-out;
  }
}

.pe-tab-panels {
  padding: 1em;
}

.hidden {
  display:none;
}
