
@keyframes slideOutDown {
  from {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);

  }

  to {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-50%, 300%, 0);
  }
}


@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}


@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}




.animated {
  animation-duration: 1s;
  animation-fill-mode: backwards;
  @media screen and (prefers-reduced-motion: reduce) {
    animation: unset !important;
  }
  @media(min-width:480px) {
    animation: unset !important;
  }
}


.slideOutDown {
  animation-name: slideOutDown;
  animation-duration: .5s;
  transition-timing-function: ease-out;
}


.slideInUp {
  animation-name: slideInUp;
  animation-duration: .5s;
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}
