$error: #db0020;
$neutral: #c7c7c7;
$neutral-three: #6a7070;
$success: #19a6a4;

@mixin flex(
  $align-items: center,
  $justify-content: space-between,
  $flex-direction: row
) {
  display: flex;
  align-items: #{$align-items};
  justify-content: #{$justify-content};
  flex-direction: #{$flex-direction};
}

.pe-alert,
.pe-alert *,
.pe-alert *::before,
.pe-alert *::after {
  box-sizing: border-box;
}

.pe-alert {
  padding: 20px 28px;
  font: 14px/18px 'Open Sans', Calibri, Tahoma, sans-serif;
  background-color: #fff;
  color: #252525;
  visibility: hidden;
  opacity: 0;
  border: 1px solid $neutral;
  border-left: 3px solid translucent;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
}

@media (min-width: 768px) {
  .pe-alert {
    padding: 24px 28px;
    padding-right: 36px;
  }
}

.pe-alert.error {
  border-left-color: $error;
}

.pe-alert.info,
.pe-alert.success {
  border-left-color: $success;
}
