@keyframes slideInDown {
  from {
    transform: translate3d(0, -150%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity:0;
    display:none;
    transform: translate3d(0, 100%, 0);
  }
}



.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  @media (prefers-reduced-motion) {
    animation: unset !important;
    transition: none !important;
  }
}

.slideInDown {
  animation-name: slideInDown;
  transition-timing-function: ease-in-out;
  animation-duration: .3s;
}

.slideOutDown {
  animation-name: slideOutDown;
  transition-timing-function: ease-in;
  animation-duration: .2s;
}
