$pe-color-concrete: #c7c7c7;
$pe-color-digital-pearson-blue: #047a9c;
$pe-color-moonlight: #e9e9e9;
$pe-color-steel: #a9a9a9;

$pe-color-focus-blue: #1977d4;
$pe-focus-outline-distance: 8px;

*, *::after, *::before {
  box-sizing: border-box;
}

:host {
  font-size: 24px;
  position: relative;
  display: block;
  width: 2em;
  height: 1em;
  padding: 0;
  border: 0;
  border-radius: 22px;
  margin: 4px 0;
  color: #fff;
  background-color: $pe-color-steel;
  cursor: pointer;
  transition: background 0.3s;
  overflow: visible;
}

:host([on]) {
  background: $pe-color-digital-pearson-blue;
}

:host([disabled]) {
  color: $pe-color-concrete;
  background-color: $pe-color-moonlight;
  cursor: not-allowed;
}

:host::before {
  content: '';
  background: #fff;
  display: block;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  width: calc(1em * 3 / 4);
  height: calc(1em * 3 / 4);
  transition: left 0.3s;
  border-radius: 100%;
}

:host([on])::before {
  left: 27px;
}

:host([disabled])::before {
  background-color: $pe-color-concrete;
}

:host(:focus) {
  outline: 0;
}

:host(:focus)::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(100% + #{$pe-focus-outline-distance});
  height: calc(100% + #{$pe-focus-outline-distance});
  border: 2px solid $pe-color-focus-blue;
  border-radius: 22px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

svg {
  width: calc(1em * 3 / 4);
  height: calc(1em * 3 / 4);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: currentColor;
  pointer-events: none;
}

svg[class*="check"] {
  left: 5px;
}

svg[class*="remove"] {
  right: 5px;
}

:host(:not([on])) svg[class*="check"],
:host([on]) svg[class*="remove"] {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  :host,
  :host::before {
    transition: none !important;
  }
}
