*,
* ::after,
* ::before,
:host::after,
:host::before {
  box-sizing: border-box
}

:host {
  background: #6a7070;
  border: 1px solid #c7c7c7;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', 'Calibri', 'Tahoma', sans-serif;
  font-size: 0;
  height: 23px;
  overflow: visible;
  position: relative;
  text-transform: uppercase;
  transition: background .3s;
  vertical-align: middle;
  width: 55px;
}

:host(:focus) {
  outline: 0 !important;
}

:host(:focus)::after {
  border: 2px solid #0b73da;
  border-radius: 22px;
  content: "";
  height: calc(100% + 10px);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 10px);
  z-index: 1
}

:host::-moz-focus-inner {
  border: 0
}

:host([on]) {
  background: #047a9c
}

:host([disabled]) {
  color: #F2F2F2;
  cursor: not-allowed;
}

:host([on]:focus) {
  background-color: #005a70;
  border: 1px solid #005a70
}

:host([on])::before {
  left: 32px
}

:host([disabled])::before {
  background: #F2F2F2;
}

:host::before, :host>span {
  position: absolute;
  line-height: 23px;
}

:host::before {
  left: 1px;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #6a7070;
  border-radius: 100%;
  content: "";
  display: block;
  transition: left .3s;
}

:host>span {
  top: -1px;
  font-size: 11.2px;
  pointer-events: none
}

:host([hidelabels]) > span {
  display: none;
}


:host .toggle-on {
  right: 27px
}

:host .toggle-off {
  right: 5px
}

:host(:not([on]))>span.toggle-on,
:host([on])>span.toggle-off{
  display: none
}



@media screen and (prefers-reduced-motion: reduced) {

  :host,
  :host::before {
    transition: none !important
  }
}
