@font-face {
  font-family: 'Open Sans';
  src: url('../node_modules/@pearson-components/elements-sdk/src/styles/assets/fonts/opensans-regular.woff2')
      format('woff2'),
    url('../node_modules/@pearson-components/elements-sdk/src/styles/assets/fonts/opensans-regular.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

:host {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.57143rem;
  margin-bottom: 0.85714rem;
  margin-top: 0;

  & * {
    box-sizing: border-box;
  }
  & button {
    background: #6a7070;
    position: relative;
    vertical-align: middle;
    border-radius: 100px;
    display: inline-block;
    width: 55px;
    height: 25px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    transition: background 0.3s;
    cursor: pointer;
    border: 1px solid #c7c7c7;

    &[aria-checked='true'] {
      background: #047a9c;

      &::before {
        left: 31px;
      }
    }

    &::before {
      content: '';
      background: #fff;
      display: block;
      position: absolute;
      left: -1px;
      top: -1px;
      border-radius: 100%;
      width: 23px;
      height: 23px;
      transition: left 0.3s;
      border: 1px solid #6a7070;
    }

    span {
      position: absolute;
      top: 5px;
      font-size: 0.8em;
      pointer-events: none;
    }

    & :first-child {
      right: 27px;
    }

    & :last-child {
      right: 5px;
    }

    &[aria-checked='false'] :first-child,
    &[aria-checked='true'] :last-child {
      display: none;
    }

    &[aria-checked='false'] :last-child,
    &[aria-checked='true'] :first-child {
      color: #fff;
    }

    + label {
      font-size: 1rem;
      line-height: 1.28571rem;
      vertical-align: middle;
    }
  }
  & button:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #da0474;
  }
}
