@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  src: url(../node_modules/@pearson-components/elements-sdk/src/styles/assets/fonts/opensans-regular.woff2) format("woff2"), url(../node_modules/@pearson-components/elements-sdk/src/styles/assets/fonts/opensans-regular.woff) format("woff")
}

*,
* ::after,
* ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:host {
  -webkit-transition: background .3s;
  background: #6a7070;
  border: 1px solid #c7c7c7;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-size: 14px;
  height: 25px;
  line-height: 1.57143rem;
  margin-bottom: .85714rem;
  margin-top: 0;
  overflow: visible;
  position: relative;
  text-transform: uppercase;
  transition: background .3s;
  vertical-align: middle;
  width: 55px
}

:host(:focus) {
  outline: 0
}

:host(:focus)::after {
  -webkit-transform: translate(-50%, -50%);
  border: 2px solid #0b73da;
  border-radius: 22px;
  content: "";
  height: -webkit-calc(100% + 10px);
  height: calc(100% + 10px);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: -webkit-calc(100% + 10px);
  width: calc(100% + 10px);
  z-index: 1
}

:host::-moz-focus-inner {
  border: 0
}

:host([checked]) {
  background: #047a9c
}

:host([disabled]) {
  color: #F2F2F2;
  cursor: not-allowed;
}

:host([checked]:focus) {
  background-color: #005a70;
  border: 1px solid #005a70
}

:host([checked])::before {
  left: 31px
}

:host([disabled])::before {
  background: #F2F2F2;
}

:host::before {
  -webkit-transition: left .3s;
  background: #fff;
  border: 1px solid #6a7070;
  border-radius: 100%;
  content: "";
  display: block;
  height: 23px;
  left: -1px;
  transition: left .3s;
  width: 23px
}

:host::before,
:host>span {
  -webkit-transform: translateY(-50%);
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

:host>span {
  font-size: .8em;
  pointer-events: none
}

:host>span:first-of-type {
  right: 27px
}

:host>span:last-of-type {
  right: 7px
}

:host(:not([checked]))>span:first-of-type,
:host([checked])>span:last-of-type {
  display: none
}

@media screen and (prefers-reduced-motion: reduced) {

  :host,
  :host::before {
    -webkit-transition: none !important;
    transition: none !important
  }
}