$primary: #047A9C;
$primary-two: #005a70;

$neutral: #c7c7c7;
$neutral-three: #6a7070;
$neutral-high-one: #252525;

$success: #19a6a4;
$error: #db0020;

$pe-focus-color: #0B73DA;

:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 28px;
  margin: 36px 24px;
  font: 14px/22px 'Open Sans', 'Calibri', 'Tahoma', sans-serif;
  background-color: #fff;
  color: $neutral-high-one;
  border: 1px solid $neutral;
  border-left: 3px solid transparent;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
  visibility: hidden;
  opacity: 0;
}

:host([type="error"]) {
  border-left-color: $error;
}

:host([type="info"]),
:host([type="success"]) {
  border-left-color: $success;
}

:host([level="inline"]) {
  position: absolute;
  top: unset;
  left: unset;
  max-width: 100vw;
  margin: 0;
}

* {
  box-sizing: inherit;
}

*:focus {
  outline: 2px solid $pe-focus-color;
  outline-offset: 4px;
}

.content-container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

h2,
h3,
p {
  display: inline;
  font: inherit;
  margin: 0;
  font-weight: 600;
}

p {
  font-weight: 400;
}

a {
  color: $primary;
  text-decoration: none;
}

a:hover, a:focus {
  color: $primary-two;
}

.pe-icon--btn {
  position: absolute;
  padding: 4px 4px;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
}

.pe-icon--btn:focus {
  outline-offset: 0;
}

.pe-icon--btn::-moz-focus-inner {
  border: none;
  padding: 0;
}


svg {
  vertical-align: top;
  fill: $neutral-three;
  pointer-events: none;
}

svg[class*='check'] {
  fill: $success;
}

svg[class*='warning'] {
  fill: $error;
}

.pe-variant-icon {
  flex: 0 0 18px;
  margin-right: 12px;
}

.content {
  display: inline-block;
}

@media (min-width: 480px) {
  :host([level="global"]) {
    width: 440px;
  }
}

@media (min-width: 768px) {
  :host {
    padding: 24px 28px;
    margin: 32px;
    padding-right: 36px;
  }

  :host([level="global"]) {
    width: 580px;
  }

  :host([level="inline"]) {
    min-width: 440px;
  }

  .pe-icon--btn {
    padding: 8px 8px;
  }
}