.gr-dropdown-container .menu button:focus:after {
  top:-2px;
}
.gr-btn, button {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size:14px;
}
.gr-btn.text {
  border:0;
}
pearson-dropdown:slotted {
  display:none;
}
