@font-face {
  font-family: 'Open Sans';
  src: url('../node_modules/@pearson-components/elements-sdk/src/styles/assets/fonts/opensans-regular.woff2')
      format('woff2'),
    url('../node_modules/@pearson-components/elements-sdk/src/styles/assets/fonts/opensans-regular.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}