$pe-color-strawberry-red: #d0021b;
$pe-color-focus-outline: #1977d4;

$pe-focus-outline-distance: 4px;

.pe-toggle {
  font: 14px/18px 'Open Sans', Arial, Helvetica, sans-serif;
}

.pe-toggle * {
  box-sizing: border-box;
}

.pe-toggle button {
  position: relative;
  display: block;
  width: 48px;
  height: 24px;
  padding: 0;
  border: 0;
  border-radius: 22px;
  margin: 4px 0;
  color: #fff;
  background-color: #a9a9a9;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.3s;
}

.pe-toggle button::before {
  content: '';
  background: #fff;
  display: block;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: left 0.3s;
  border-radius: 100%;
}

.pe-toggle button:focus {
  outline: 0;
}

.pe-toggle button:focus::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(100% + #{$pe-focus-outline-distance});
  height: calc(100% + #{$pe-focus-outline-distance});
  border: 2px solid #0b73da;
  border-radius: 22px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.pe-toggle button[aria-checked='true'] {
  background: #047a9c;
}

.pe-toggle button[aria-checked='true']::before {
  left: 24px;
}

.pe-toggle svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: #fff;
  pointer-events: none;
}

.pe-toggle svg:first-child {
  left: 5px;
}

.pe-toggle svg:last-child {
  right: 5px;
}

.pe-toggle button[aria-checked='false'] svg:first-child,
.pe-toggle button[aria-checked='true'] svg:last-child {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  button,
  button::before {
    transition: none !important;
  }
}
