$pe-focus-outline-distance: 6px;

.pe-toggle {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.57143rem;
  margin-bottom: 0.85714rem;
  margin-top: 0;
}

.pe-toggle * {
  box-sizing: border-box;
}

.pe-toggle button {
  background: #a9a9a9;
  position: relative;
  vertical-align: middle;
  border-radius: 100px;
  display: inline-block;
  width: 48px;
  height: 24px;
  padding: 0;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  transition: background 0.3s;
  cursor: pointer;
  border: 1px solid #c7c7c7;
}

.pe-toggle button::before {
  content: '';
  background: #fff;
  display: block;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: left 0.3s;
  border-radius: 100%;
}

.pe-toggle button:focus {
  outline: 0;
}

.pe-toggle button:focus::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(100% + #{$pe-focus-outline-distance});
  height: calc(100% + #{$pe-focus-outline-distance});
  border: 2px solid #0b73da;
  border-radius: 22px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.pe-toggle button[aria-checked='true'] {
  background: #047a9c;
}

.pe-toggle button[aria-checked='true']::before {
  left: 24px;
}

.pe-toggle svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: #fff;
  pointer-events: none;
}

.pe-toggle svg:first-child {
  left: 5px;
}

.pe-toggle svg:last-child {
  right: 5px;
}

.pe-toggle button[aria-checked='false'] svg:first-child,
.pe-toggle button[aria-checked='true'] svg:last-child {
  display: none;
}

.pe-toggle label {
  font-size: 1rem;
  line-height: 1.28571rem;
  vertical-align: middle;
}
