@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: .6;
  }
}

@keyframes fadeOut {
  from {
    opacity: .6;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeInFast {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOutFast {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


@keyframes slideInDown {
  from {
    transform: translate3d(-50%, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes slideOutDown {
  from {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);

  }

  to {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-50%, 300%, 0);
  }
}

@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
  }

  to {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0, 0);
    transform-origin: right center;
  }
}

@keyframes zoomInLeft {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}



.animated {
  animation-duration: 1s;
  animation-fill-mode: backwards;
  @media screen and (prefers-reduced-motion: reduce) {
    animation: unset !important;
  }
}

.fadeIn {
  animation-name: fadeIn;
  @media all and (-ms-high-contrast:none) {

  }
}

.fadeInFast {
  animation-name: fadeInFast;
  animation-duration: .3s;
  transition-timing-function: ease-in;
}

.fadeOutFast {
  animation-name: fadeOutFast;
  animation-duration: .3s;
  transition-timing-function: ease-out;
}

.fadeOut {
  animation-name: fadeOut;
}

.slideInDown {
  animation-name: slideInDown;
  animation-duration: .7s;
  transition-timing-function: ease-in;
}

.slideOutDown {
  animation-name: slideOutDown;
  animation-duration: .5s;
  transition-timing-function: ease-out;
}

@media all and (-ms-high-contrast:none) {
  .fadeIn {
    animation-name: fade;
    animation-duration: .5s;
  }

  .fadeOut {
    animation-name: fade;
    animation-duration: .5s;
  }
}

.zoomInLeft {
  animation-name: zoomInLeft;
}

.zoomOutRight {
  animation-name: zoomOutRight;
}

.slideInUp {
  animation-name: slideInUp;
  animation-duration: .5s;
}
