<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pearson Alerts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <style>
    * {
      box-sizing: border-box;
    }

    html,
    body {
      height: 100%;
      margin: 0;
    }

    html {
      font: 100%/1.5 sans-serif;
    }
  </style>
</head>

<body class="">
  <h1>Pearson Alerts</h1>
  <ul>
    <li><a href="confirmation.html" target="_blank" rel="noopener noreferrer">Confirmation</a></li>
    <li><a href="error.html" target="_blank" rel="noopener noreferrer">Error</a></li>
    <li><a href="important.html" target="_blank" rel="noopener noreferrer">Important</a></li>
    <li><a href="success.html" target="_blank" rel="noopener noreferrer">Success</a></li>
  </ul>
</body>

</html>