@import "../node_modules/@pearson-components/elements-sdk/src/styles/base/variables";
@import "../node_modules/@pearson-components/elements-sdk/src/styles/base/mixins";

.pe-calendar {
  box-sizing: content-box;
  width: 280px;
  min-height: 284px;
  color: $pe-color-charcoal;
  padding: 16px 20px 20px;
  z-index: 1;
  border: 1px solid $pe-color-concrete;
  background-color: $pe-color-white;
  //position: absolute; //better to have absolute positioning in datepicker?
  @media all and (-ms-high-contrast:none) {
    width: 308px;
  }

  fieldset {
    margin:0;
    border:0;
    padding:0;
  }
  .pe-cal-actions {
    display:inline-flex;
    width:80px;
  }
  .pe-cal-title {
    padding: 8px;
    text-align:left;
    margin-bottom: 8px;
    width: calc(100% - 84px);
    display:inline-block;
    float:left;
  }

  .pe-arrowIcons {
    cursor: pointer;
    height: 40px;
    color: $pe-color-medium-gray;
    text-align: center;
    width: 40px;
    display:inline;

    &:hover {
      color: $pe-color-charcoal;
    }
    &:focus {
      color: $pe-color-charcoal;
      outline:none;
      @include focusPseudoOutline(0px, -4px, -4px, 0px, 0px);
    }
  }
  .pe-cal-weekdays div {
    height: 40px;
    color: $pe-color-medium-gray;
    line-height: 40px;
  }
  .pe-cal-row {
    display:grid;
    grid-template-columns: repeat(7, 40px);
    clear:both;
  }

  .pe-cal-cell {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 40px;

    button {
      padding:0;
      border:0;
      position:relative;
      cursor:pointer;
      display:block;

      &.currentDate-box {
        width: 36px;
        height: 36px;
        margin: 1px;
        line-height: 36px;
        border-radius: 0;
        padding:0;
        border: 1px solid $pe-color-concrete;
        background:transparent;

        .pe-cal-cell-square {
          margin: 2px;
        }

      }

      &.pe-cal-selected .pe-cal-cell-square {
        font-weight: 600;
        color: $pe-color-white;
        background-color: $pe-color-medium-gray;
      }

    }
  }
  .pe-cal-cell-square {
    height: 32px;
    width: 32px;
    margin: 4px;
    line-height: 32px;
    border-radius: 16px;

  }
  .pe-cal-date.pe-cal-past {
    height: 40px;
    line-height: 38px;
  }
  .pe-cal-past .pe-cal-cell-square {
    color: $pe-color-concrete;
    cursor: not-allowed;
  }
  .secondary-date {
    border: 1px solid $pe-color-concrete;
  }

  &.inverse {
    color: $pe-color-white;
    background-color: $pe-color-ink-blue;
    border: 1px solid $pe-color-ink-blue;

    .pe-cal-title,
    .pe-arrowIcons,
    .pe-cal-weekdays div,
    .pe-cal-cell-square {
      color: $pe-color-white;
    }
    .pe-arrowIcons:hover, .pe-arrowIcons:focus {
      color: $pe-color-concrete;
    }

    .pe-cal-date .pe-cal-selected .pe-cal-cell-square {
      color: $pe-color-charcoal;
      background-color: $pe-color-white;
    }


    .pe-cal-past .pe-cal-cell-square {
      color: $pe-color-digital-pearson-blue;
      cursor: not-allowed;
    }

  }
}

.pe-icon--btn {
  padding:0;
  background-color: transparent;
  border:0;
  position:relative;
}
.pe-icon-wrapper {
  button {
    color:$pe-color-medium-gray;
    cursor:pointer;
  }
  @media all and (-ms-high-contrast:none) {
   bottom: calc(50% - 12px) !important
  }
}
.date-selector {
  background:none;
  &:hover {
    background-color:$pe-color-moonlight;
    color: $pe-color-charcoal;
    cursor: pointer;
  }
  &.selected {
    background-color: $pe-color-medium-gray;
    color:white;
  }
}
.currentDate-box {
  border:1px solid $pe-color-concrete;
}


