$pe-color-digital-marine-turquoise: #19A6A4;
$pe-color-concrete: #C7C7C7;
$pe-color-charcoal: #252525;
$pe-color-moonlight: #E9E9E9;
$pe-color-white-gray: #F5F5F5;
$pe-color-medium-gray: #6A7070;
$pe-color-alto: #D9D9D9;
$pe-color-ink-blue: #005A70;
$pe-focus-color: #0B73DA; 

:focus {
  box-shadow: none;
  outline: 2px solid $pe-focus-color;
  outline-offset: 4px;
}

:host(.dark) :focus {
  outline-color: white;
}

*,
*::after,
*::before,
:host {
  box-sizing: border-box;
}

:host {
  display: block;
  font-family: 14px/18px 'Open Sans', 'Calibri', 'Tahoma', sans-serif;
  background-color: #ffffff;
  color: $pe-color-medium-gray;
}

:host(.dark) {
  color: $pe-color-alto;
}

.tabs-wrapper {
  position: relative;
  background-color: inherit;
}

:host(.dark) .tabs-wrapper {
  background-color: $pe-color-ink-blue;
}

ul,
.tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li,
.tab {
  display: inline-block;
}

.tab-button {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.28571rem;
  color: inherit;
  cursor: pointer;
  display: block;
  margin: 8px 16px;
  padding: 8px 0;
  text-decoration: none;
  background:none;
  border:0;
  border-bottom: 3px solid transparent;
}

.tab-button::-moz-focus-inner {
  border: 0;
}

.tab-button:hover {
  color: $pe-color-charcoal;
  border-bottom-color: $pe-color-concrete;
}

.tab-button.active {
  color: $pe-color-charcoal;
}

:host(.dark) .tab-button:hover {
  color: white;
  border-bottom-color: $pe-color-alto;
}

:host(.dark) .tab-button.active {
  color: white;
}

.tab-slider {
  height:3px;
  background-color: $pe-color-digital-marine-turquoise;
  position:absolute;
  padding:0;
  margin: 0 16px;
  bottom: 8px;
  transition: all .5s ease-in-out;
}

::slotted(.panels) {
  padding: 1em;
}
