/* VARIABLES */
$pe-color-charcoal: #252525;
$pe-color-concrete: #c7c7c7;
$pe-color-medium-gray: #6a7070;
$pe-color-moonlight: #e9e9e9;
$pe-focus-color: #0b73da;

$pe-color-strawberry-red: #db0020;

/* RESETS */

input {
  display: block;
  width: 100%;
  height: 36px;
  padding: 0 14px;
  border: 1px solid $pe-color-concrete;
  border-radius: 2px;
  margin-top: 6px;
}
input:focus {
  position: relative;
  outline: 0;
  box-shadow: 0 0 0 2px $pe-focus-color;
  z-index: 1;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

svg {
  fill: currentColor;
  vertical-align: top;
}

:host,
:host *,
:host *:after,
:host *:before {
  box-sizing: border-box;
  font: 14px/18px 'Open Sans', Calibri, Tahoma, sans-serif;
}

:host {
  position: relative;
  display: inline-block;
  max-width: 400px;
  color: $pe-color-charcoal;
}

.pe-icon {
  position: absolute;
  color: $pe-color-medium-gray;
  pointer-events: none;
}

/* TIMEPICKER */

.timepicker {
  position: relative;
}

.timepicker .pe-icon {
  right: 14px;
  top: 33px;
  z-index: 2;
}

.timepicker-label {
  font-size: 12px;
  line-height: 16px;
}

.timepicker-input {
  min-width: 150px;
}

.timepicker-input[aria-invalid='true'] {
  border-color: $pe-color-strawberry-red;
}

.timepicker-input[aria-invalid='true']:focus {
  outline-color: $pe-color-strawberry-red;
}

.timepicker-input[aria-invalid='true'] ~ .timepicker-error {
  display: block;
}

.timepicker-error {
  font-size: 12px;
  line-height: 16px;
  color: $pe-color-strawberry-red;
  margin-top: 4px;
  margin-bottom: 2px;
}

.timepicker-error:empty {
  display: none;
}

/* LISTBOX */

.listbox-wrapper {
  position: absolute;
  width: 100%;
  z-index: 999;
  visibility: hidden;
}

:host([open]) .listbox-wrapper {
  visibility: visible;
}

.listbox {
  min-width: 220px;
  width: 100%;
  max-height: 300px;
  border: 1px solid $pe-color-concrete;
  border-radius: 2px;
  overflow-y: auto;
  background-color: #fff;
  visibility: hidden;
}

.listbox-item {
  cursor: pointer;
  position: relative;
  padding: 4px 24px;
}

.listbox-item:hover,
.listbox-item.focused {
  background-color: $pe-color-moonlight;
}

.listbox-item.focused {
  border-radius: 4px;
  box-shadow: inset 0 0 0 2px $pe-focus-color;
}

.listbox-item .pe-icon {
  display: none;
  left: 5px;
}
.listbox-item.selected .pe-icon {
  display: block;
}

.hidden {
  display: none;
}
