* {
  box-sizing: border-box;
}

html {
  font: 14px/18px 'Open Sans', 'Calibri', 'Tahoma', sans-serif;
}

body {
  color: #252525;
  width: 780px;
  margin: 0 auto;
}

.example {
  padding: 1rem 0.5rem;
  margin-top: 2rem;
  border: 1px solid #252525;
}

.example p:first-child {
  margin-top: 0;
}