// only import the necessary modules outlined in the spec you are working on, do not load all of elements
// These are the base modules necessary for loading the rest of the component styles
@import "../node_modules/@pearson-components/elements-sdk/src/styles/base/normalize";
@import "../node_modules/@pearson-components/elements-sdk/src/styles/base/variables";
@import "../node_modules/@pearson-components/elements-sdk/src/styles/base/mixins";
@import "../node_modules/@pearson-components/elements-sdk/src/styles/base/functions";
@import "../node_modules/@pearson-components/elements-sdk/src/styles/elements/typography/type";
@import "../node_modules/@pearson-components/elements-sdk/src/styles/base/html-tags";
.pe-loadingSpinner {
    width: 25px;
    height: 25px;
    position: relative; }
  
  .pe-loadingSpinner-container1 > div, .pe-loadingSpinner-container2 > div {
    width: 4px;
    height: 4px;
    background-color: #19A6A4;
    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.6s infinite ease-in-out;
    animation: bouncedelay 1.6s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  
  .pe-loadingSpinner .pe-loadingSpinner-container {
    position: absolute;
    width: 100%;
    height: 100%; }
  
  .pe-loadingSpinner-container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg); }
  
  .circle1 {
    top: 0;
    left: 0; }
  
  .circle2 {
    top: 0;
    right: 0; }
  
  .circle3 {
    right: 0;
    bottom: 0; }
  
  .circle4 {
    left: 0;
    bottom: 0; }
  
  .pe-loadingSpinner-container2 .circle1 {
    -webkit-animation-delay: -1.4s;
    animation-delay: -1.4s; }
  
  .pe-loadingSpinner-container1 .circle2 {
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s; }
  
  .pe-loadingSpinner-container2 .circle2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s; }
  
  .pe-loadingSpinner-container1 .circle3 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }
  
  .pe-loadingSpinner-container2 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s; }
  
  .pe-loadingSpinner-container1 .circle4 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s; }
  
  .pe-loadingSpinner-container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s; }
  
  @-webkit-keyframes bouncedelay {
    0%, 25%, 100% {
      -webkit-transform: scale(1); }
    12.5% {
      -webkit-transform: scale(1.5); } }
  
  @keyframes bouncedelay {
    0%, 25%, 100% {
      transform: scale(1);
      -webkit-transform: scale(1); }
    12.5% {
      transform: scale(1.5);
      -webkit-transform: scale(1.5); } }



.loading-indicator-wrapper {border-radius:5px; margin:auto; width: 200px; padding: 30px 20px 20px 20px; background-color: #252525; border: 1px solid #252525;}
.loading-indicator {color: white; margin:auto; width:50%; background-color: #252525;}
  .loading-text {padding-left:30px; display: block; margin:auto; width:50%; position: relative; top: -20px;}
  #loaded-content main {
      -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadein 2s; /* Firefox < 16 */
          -ms-animation: fadein 2s; /* Internet Explorer */
           -o-animation: fadein 2s; /* Opera < 12.1 */
              animation: fadein 2s;
  }
  
  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  /* Firefox < 16 */
  @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  /* Internet Explorer */
  @-ms-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  /* Opera < 12.1 */
  @-o-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  