$error: #db0020;
$neutral: #c7c7c7;
$success: #19a6a4;

@mixin flex(
  $align-items: center,
  $justify-content: space-between,
  $flex-direction: row
) {
  display: flex;
  align-items: #{$align-items};
  justify-content: #{$justify-content};
  flex-direction: #{$flex-direction};
}

.pe-alert {
  visibility: hidden;
  opacity: 0;

  @media (max-width: 480px) {
    max-width: 440px;
    padding: 4px;
  }

  &[data-alert-type='inline'] {
    position: absolute;
  }

  &[data-alert-type='global'] {
    position: fixed;
    top: 32px;
    left: 0;
    margin: 0 32px;
    @media (max-width: 768px) {
      top: 36px;
      margin: 0 24px;
    }
  }
}

.pe-alert-box {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.16);
  padding: 8px;
  border: 1px solid #c7c7c7;
  border-left: 3px solid;
  margin-bottom: 1em;
  max-width: 580px;
  transition: all 0.2s ease;
  z-index: 10;
  background: white;

  &.error {
    border-left-color: $error;

    a {
      color: $error;
    }

    .alert-content-container {
      color: $error;

      svg {
        margin-top: 2px;
      }
    }
  }

  &.success,
  &.info {
    border-left-color: $success;

    .alert-content-container {
      color: $success;
    }
  }

  .close-title button {
    float: right;
    color: $neutral-three;
    cursor: pointer;
  }

  .alert-content-container {
    @include flex;

    align-items: flex-start;
    padding: 20px 4px 20px 20px;

    svg {
      margin-right: 12px;
      min-width: 18px;
    }

    .alert-title {
      margin-right: 4px;
      display: inline;
    }

    .alert-text {
      margin-bottom: 0;
      display: inline;
    }
  }
}
