@import 'coachmark';
@import 'animation';
@import 'popper';

// FOR DEMO ONLY - DO NOT BRING INTO WEB COMPONENT
ul li {
  list-style-type: none;
  margin:1em;
}
#main {
  display:flex;
  align-items: center;
  justify-content: center;
  min-height:100vh;
}
.target {
  width:45%;
  margin:1em;
  padding:1em;
  border:1px solid;
}
// DEMO CSS END   /////////////////////////////////////////////////


